Open shapefile

In [1]:
import geopandas as gpd

# Replace with the path to your shapefile
shapefile_path = 'project_data/2018_Land_Use_Inventory_for_Northeastern_Illinois/2018_Land_Use_Inventory_for_Northeastern_Illinois.shp'

# Read the shapefile into a GeoDataFrame
gdf_landuse = gpd.read_file(shapefile_path)

# Display the first few rows of the data
gdf_landuse.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 529945 entries, 0 to 529944
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   OBJECTID    529945 non-null  int32
 1   FIRST_COUN  529945 non-null  object
 2   LANDUSE     529945 non-null  object
 3   LANDUSE2    640 non-null     object
 4   OS_MGMT     12446 non-null   object
 5   FAC_NAME    889 non-null     object
 6   PLATTED     658 non-null     object
 7   MODIFIER    815 non-null     object
 8   ORIG_FID    529945 non-null  int32
 9   Shape__Are  529945 non-null  float64
 10  Shape__Len  529945 non-null  float64
 11  geometry    529945 non-null  geometry
dtypes: float64(2), geometry(1), int32(2), object(7)
memory usage: 44.5+ MB

In [2]:
# Replace with the path to your shapefile
shapefile_path = 'project_data/cb_2018_17_tract_500k/cb_2018_17_tract_500k.shp'

# Read the shapefile into a GeoDataFrame
gdf = gpd.read_file(shapefile_path)

# Display the first few rows of the data
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3121 entries, 0 to 3120
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STATEFP   3121 non-null   object
 1   COUNTYFP  3121 non-null   object
 2   TRACTCE   3121 non-null   object
 3   AFFGEOID  3121 non-null   object
 4   GEOID     3121 non-null   object
 5   NAME      3121 non-null   object
 6   LSAD      3121 non-null   object
 7   ALAND     3121 non-null   int64
 8   AWATER    3121 non-null   int64
 9   geometry  3121 non-null   geometry
dtypes: geometry(1), int64(2), object(7)
memory usage: 244.0+ KB

In [3]:
gdf.head()

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,17,031,843800,1400000US17031843800,17031843800,8438,CT,1309516,0,"POLYGON ((-87.64554 41.80886, -87.64068 41.808..."
1,17,037,001002,1400000US17037001002,17037001002,10.02,CT,3477252,16983,"POLYGON ((-88.79317 41.93313, -88.79257 41.933..."
2,17,031,243000,1400000US17031243000,17031243000,2430,CT,324548,0,"POLYGON ((-87.68195 41.89583, -87.6795 41.8958..."
3,17,031,250600,1400000US17031250600,17031250600,2506,CT,647765,0,"POLYGON ((-87.7756 41.90925, -87.77536 41.9092..."
4,17,031,251700,1400000US17031251700,17031251700,2517,CT,486655,0,"POLYGON ((-87.74826 41.89498, -87.74645 41.895..."

In [ ]:
gdf_landuse.head()

,OBJECTID,FIRST_COUN,LANDUSE,LANDUSE2,OS_MGMT,FAC_NAME,PLATTED,MODIFIER,ORIG_FID,Shape__Are,Shape__Len,geometry
0,1,031,1111,None,None,None,None,None,1,2827.531250,212.932966,"POLYGON ((-9811765.288 5182846.888, -9811790.2..."
1,2,031,1111,None,None,None,None,None,2,1455.253906,157.810360,"POLYGON ((-9810384.847 5182877.937, -9810434.3..."
2,3,031,1111,None,None,None,None,None,3,1914.542969,196.538805,"POLYGON ((-9811421.065 5182948.433, -9811448.0..."
3,4,031,1111,None,None,None,None,None,4,3422.347656,243.938127,"POLYGON ((-9810548.122 5183045.833, -9810626.1..."
4,5,031,1111,None,None,None,None,None,5,2888.257812,287.704258,"POLYGON ((-9810790.901 5183121.979, -9810860.1..."

## Polygon is in a different type of coordinates, we must convert

In [5]:
# Check what counties we have
gdf_landuse['FIRST_COUN'].unique()

array(['031', '043', '089', '093', '097', '111', '197'], dtype=object)

In [6]:
from shapely import Polygon

In [7]:
gdf_landuse['centroid'] = gdf_landuse['geometry'].centroid

In [9]:
gdf_landuse['census_tract'] = 0

In [10]:
cook_county_land = gdf_landuse[gdf_landuse['FIRST_COUN'] == '031'].head(200)
cook_county_tracts = gdf[gdf['COUNTYFP'] == '031']

In [12]:
cook_county_land.head()

,OBJECTID,FIRST_COUN,LANDUSE,LANDUSE2,OS_MGMT,FAC_NAME,PLATTED,MODIFIER,ORIG_FID,Shape__Are,Shape__Len,geometry,centroid,census_tract
0,1,031,1111,None,None,None,None,None,1,2827.531250,212.932966,"POLYGON ((-9811765.288 5182846.888, -9811790.2...",POINT (-9811764.436 5182874.502),0
1,2,031,1111,None,None,None,None,None,2,1455.253906,157.810360,"POLYGON ((-9810384.847 5182877.937, -9810434.3...",POINT (-9810409.185 5182892.675),0
2,3,031,1111,None,None,None,None,None,3,1914.542969,196.538805,"POLYGON ((-9811421.065 5182948.433, -9811448.0...",POINT (-9811434.388 5182983.459),0
3,4,031,1111,None,None,None,None,None,4,3422.347656,243.938127,"POLYGON ((-9810548.122 5183045.833, -9810626.1...",POINT (-9810587.642 5183065.613),0
4,5,031,1111,None,None,None,None,None,5,2888.257812,287.704258,"POLYGON ((-9810790.901 5183121.979, -9810860.1...",POINT (-9810800.511 5183134.013),0

In [13]:
cook_county_tracts.head()

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,17,031,843800,1400000US17031843800,17031843800,8438,CT,1309516,0,"POLYGON ((-87.64554 41.80886, -87.64068 41.808..."
2,17,031,243000,1400000US17031243000,17031243000,2430,CT,324548,0,"POLYGON ((-87.68195 41.89583, -87.6795 41.8958..."
3,17,031,250600,1400000US17031250600,17031250600,2506,CT,647765,0,"POLYGON ((-87.7756 41.90925, -87.77536 41.9092..."
4,17,031,251700,1400000US17031251700,17031251700,2517,CT,486655,0,"POLYGON ((-87.74826 41.89498, -87.74645 41.895..."
5,17,031,260400,1400000US17031260400,17031260400,2604,CT,328225,0,"POLYGON ((-87.74061 41.88781, -87.73571 41.887..."

In [ ]:
for index, land_parsel in cook_county_land.iterrows():
    for jindex, tract in cook_county_tracts.iterrows():
        print(land_parsel['centroid'], tract['geometry'])
        # if tract['geometry'].contains(land_parsel['centroid']):
        #     print(tract['TRACTCE'])
        #     break
        if land_parsel['centroid'].within(tract['geometry']):
            print("aaaaa")